{{template "layout.html" .}}

{{define "title"}}Casa Eureka - Coming Soon | Ouverture Prochaine{{end}}

{{define "content"}}

<div class="container">
    <h1>Casa Eureka</h1>
    <div class="text-above">
        <h2>Coming Soon!</h2>
    </div>
    <div class="logo">
        <img src="/static/web-app-manifest-512x512.png" alt="Casa Eureka Logo">
        <!-- <div>
            <div>
                <h2>Total Page Hits</h2>
                <p>{{.TotalHits}}</p>
            </div>
            <hr>
            <div>
                <h2>Visitors</h2>
                <ul>
                    <li>Last Hour: {{.Visitors.LastHour}}</li>
                    <li>Last Day: {{.Visitors.LastDay}}</li>
                    <li>Last Week: {{.Visitors.LastWeek}}</li>
                </ul>
            </div>
        </div> -->
    </div>
    <div class="text-below">
        <h2>Ouverture Prochaine!</h2>
    </div>
</div>

{{end}}